APScheduler==3.5.1
argon2-cffi==18.1.0
blinker==1.4
cffi==1.11.5
click==6.7
entrypoints==0.2.3
Flask==1.0.2
Flask-Mail==0.9.1
gunicorn==19.8.1
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
keyring==13.0.0
keyrings.cryptfile==1.2.1
MarkupSafe==1.0
pycparser==2.18
pycryptodome==3.6.6
pytz==2018.4
pywin32-ctypes==0.1.2
six==1.11.0
tzlocal==1.5.1
Werkzeug==0.14.1
